*
    // border: solid 1px

.videoList
    display: inline-block
    width: 900px
    top: 100px
    display: flex
    padding: 8px
    flex-direction: column
    display: inline-block
.video
    display: inline-block
    width: 10px

.title
    font-size: 15px
    width: 13rem
    font-weight: bold
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2
    overflow: hidden
    cursor: pointer
    color: black

.channelTitle
    color: grey
    font-size: 15px
    font-weight: bold
    cursor: pointer
    display: inline-block //寬度與文字同寬
    &:hover
        color: black

// .videoList
//     width: 300px
//     cursor: pointer
//     margin-right: 30px
